@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* app/globals.css (thêm vào @layer base) */
@layer base {
    body {
        background-color: #f8fafc;
        /* Màu nền light mode */
    }

    body::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 10;
        pointer-events: none;

        background: radial-gradient(circle 40px at var(--mouse-x, -200px) var(--mouse-y, -200px),
                rgba(56, 189, 248, 0.15),
                transparent 80%);
    }

    html.dark body {
        background-color: #020617;
        /* Màu nền dark mode (slate 950) */
    }

    html.dark body::before {
        background: radial-gradient(circle 100px at var(--mouse-x, -200px) var(--mouse-y, -200px),
                rgba(173, 230, 237, 0.2),
                transparent 90%);
    }
}